<div class="container">
  <div class="hero-unit">
    <h1>点滴——开源的轻日记</h1>
    <p><strong>演示账户：demo@demo.com 密码：password</strong></p>
    <p>点滴希望每一个瞬间都有机会再次闪现，而不是消逝于时间流中。在点滴墙上你会随机的看到过去的一点一滴。</p>
    <p>点滴希望你能够通过翻阅过去，肯定现在的自己。</p>
    <p>点滴由Jasl创建和维护。欢迎你给作者提供好的想法，也欢迎你Fork点滴，共同进步～</p>
    <p>
      <a href="http://jasl.github.com" class="btn btn-primary btn-large">作者的Blog</a>
      <a href="http://www.github.com/jasl/tick-tock" class="btn btn-primary btn-large">点滴的Github repository</a>
    </p>
  </div>
</div>
