<div class="container">
  <div class="hero-unit">
    <h1>点滴——开源的轻日记</h1>
    <p><strong>演示账户：demo@demo.com 密码：password</strong></p>
    <p><strong>注意：点滴尚未达到正式可用版本，所以数据结构可能会变动，数据会被清除哦～</strong></p>
    <p>点滴希望每一个瞬间都有机会再次闪现，而不是消逝于时间流中。在点滴墙上你会随机的看到过去的一点一滴。</p>
    <p>点滴希望你能够通过翻阅过去，肯定现在的自己。</p>
    <p>点滴由Jasl创建和维护，由于精力有限，迭代会比较慢，但Jasl希望这里能够实践工作中的经验和新的技术，在Readme里有点滴的愿景。</p>
    <p>欢迎你给作者提供好的电子，也欢迎你Fork点滴，共同进步～</p>
    <strong>IE 678和360浏览器显示不正常是正常现象，请及时卸载你的360并且更新浏览器到最新版本。</strong>
    <p>
      <a href="http://jasl.github.com" class="btn btn-primary btn-large">作者的Blog</a>
      <a href="http://www.github.com/jasl/tick-tock" class="btn btn-primary btn-large">点滴的Github repository</a>
    </p>
  </div>
</div>
