<div class="<%= @moment.theme %>">
  <div class="note">
    <div class="date">
      <%= @moment.full_time %>
    </div>
    <div class="content">
      <%= @moment.note.body %>
    </div>
  </div>
</div>
