<% if @moments.nil? %>
  <div class="hero-unit">
    <p>当若干年后，看着过去记录的酸甜苦辣，一定会有一番感慨的吧！</p>
    <p>
      <%= link_to '现在，写下我的第一篇点滴！', new_moment_path, :class => 'btn btn-primary btn-large'  %>
    </p>
  </div>
<% else %>
  <%= render @moments %>

  <div class="pull-right">
    <%= paginate @moments %>
  </div>
<% end %>
