<div class="container">
  <% if @moment.nil? %>
    <p>You have no moment, why not to create one? <%= link_to t("views.moment.titles.new"), new_moment_path %></p>
  <% else %>
    <p><%= link_to 'Refresh!(test)', moments_wall_path %></p>
    <%= render "moments/types/show/#{@moment.type}" %>
  <% end %>
</div>
